#home{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url(grass.jpg);
    background-size: cover;
    height: 100vh;
}



#title{
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding-top: 300px;
    clear: both;
}


#subtitle{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    padding-top: 10px;
}

#hyperlink{
    float: right;
    display: inline-block;
    margin-left: 10px;
    margin-right: 50px;
    text-transform: uppercase;
    margin-top: 50px;
    color: white;
    font-size: 20px;
}

span{
    display: inline-block;
    padding: 5px;  
    border: white solid 9px;
    letter-spacing: 3px;
}

#about{
    background-color: #f0feff;
    margin-top: auto;
    height: 100vh;
}

#aboutword{
    text-align: center;
    text-transform: uppercase;
    padding-top: 250px;
    color: #7c7c7c;
    font-size: 20px;'
    font-weight: 500;
}

#welcome{
    color: black;
    text-align: center;
    font-size: 75px;
    font-weight: 1;
    padding-top: 30px;
    padding-bottom: 10px;
}

#line{
    background-color: #13f4f4;
    height: 1px;
    align-content: center;
    padding-top: 1px;
    margin-left: 47%;
    margin-right: 47%;
}

#intro{
    text-align: center;
    font-size: 35px;
    color: black;
    padding-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

#header{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 10vh;
    background-color: #13f4f4;
}

#poem{
    margin-left: 0px;
    margin-right: 0px;  
    background-size: cover;
    height: 90vh;
    background-color: #f0feff;
}

#poemtitle{
   color: black;
    text-align: center;
    font-size: 75px;
    font-weight: 1;
    padding-top: 30px;
    padding-bottom: 10px;
}

#explanation{
    text-align: center;
    font-size: 35px;
    color: black;
    padding-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 50px;
}

#email{
     text-align: center;
    font-size: 50px;
    color: black;
    padding-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}


}



/*
#roboknights{
    float: left;
    margin-right: 50%;
    margin-left: 1%;
    font-size: 40px;
    position: absolute;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    margin-top: 15vh;
    font-weight: 400;
    text-align: center;
    color: black;
}


#topleft{
    height: 50vh;
    float: left;
    width: 50%;
    transition: all 0.35s ease-in-out;
}

#topleft:hover{
    opacity: 0.25;
}

#topleft:hover + #roboknights{
    opacity: 1;

}





#programming{
    float: right;
    margin-right: 1%;
    margin-left: 50%;
    font-size: 40px;
    position: absolute;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    margin-top: 15vh;
    font-weight: 400;
    text-align: center;
    color: black;
}



#topright{

    height: 50vh;
    float: left;
    width: 50%;
    transition: all 0.35s ease-in-out;

}

#topright:hover{
    opacity: 0.25;
}

#topright:hover + #programming{
    opacity: 1;

}



  
#hackathons{
    float: left;
    margin-right: 50%;
    margin-left: 1%;
    font-size: 40px;
    position: absolute;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    margin-top: 65vh;
    font-weight: 400;
    text-align: center;
    color: black;
}


#botleft{
    height: 50vh;
    float: left;
    width: 50%;
    transition: all 0.35s ease-in-out;
}

#botleft:hover{
    opacity: 0.25;
}

#botleft:hover + #hackathons{
    opacity: 1;

}


#gaming{
    float: right;
    margin-right: 1%;
    margin-left: 50%;
    font-size: 40px;
    position: absolute;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    margin-top: 65vh;
    font-weight: 400;
    text-align: center;
    color: black;
}


#botright{
    height: 50vh;
    float: left;
    width: 50%;
    transition: all 0.35s ease-in-out;
}

#botright:hover{
    opacity: 0.25;
}

#botright:hover + #gaming{
    opacity: 1;

}

